@import './bootstrap/functions';

// Default variable overwrite
// settings
$enable-rounded: true;
$enable-shadows: true;

// others
$primary: #002c6e;
$breadcrumb-divider: quote(">");

@import './bootstrap/variables';
// Variable overwrites that depend on variables of bootstrap (might not always work e.g. primary can not be overwritten here)
// breadcrumps
$breadcrumb-padding-y: $spacer;
$breadcrumb-margin-bottom: 0;
$breadcrumb-divider-color: $gray-300;
$breadcrumb-active-color: $gray-300;

//buttons
$btn-box-shadow: inset 0 1px 0 rgba($white, .15), 0 5px 5px rgba($black, .75);

$btn-padding-y-lg: 20px;
$btn-padding-x-lg: 30px;

// Remainder of required stylsheets
@import "./bootstrap/mixins";
@import "./bootstrap/root";

// Optional stylesheets as needed
@import './bootstrap/utilities';
@import "./bootstrap/reboot";
@import "./bootstrap/type";
@import "./bootstrap/images";
@import "./bootstrap/containers";
@import "./bootstrap/grid";
@import "./bootstrap/helpers";
@import "./bootstrap/buttons";

// utility API
@import "./bootstrap/utilities/api";

@import "./bootstrap/bootstrap.scss";

// Custom code

.white-box-shadow {
    box-shadow: 0 1rem 3rem rgba($white, .175);;
}

.subject-block {
  img {
    width: 100%;
    height: auto;
    min-height: 400px;
    object-fit: cover;
  }

  #title {
    font-size: 50px;
  }

  #cta {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #canvas {
    width: 100%;
    top: 100px;
  }
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


$utilities: map-merge(
  $utilities,
  (
    "background-color": (
      property: background-color,
      class: bg,
      local-vars: (
        "bg-opacity": 1
      ),
      values: map-merge(
        $utilities-bg-colors,
        (
          "black": black
        )
      )
    ),
  )
);