{% load wagtailimages_tags %}

{% image self.image fill-1320x500 as img %}

<div class="px-0 mx-0 my-5 subject-block position-relative shadow-lg">
    <img src="{{ img.url }}" alt="{{ img.alt }}" loading="lazy">
    <div id="canvas" class="p-3 bg-light bg-opacity-75 text-dark position-absolute shadow-lg">
        <span id="title" class="d-block text-uppercase fw-bold text-center text-nowrap">{{ self.title }}</span>
        <span id="subtitle" class="d-block fs-3 text-wrap text-center">{{ self.subtitle }}</span>
    </div>
    <div id="cta">
      {% if self.button_page %}
          <a href="{{ self.button_page.url }}" class="btn btn-primary btn-lg">
              Read More
          </a>
      {% endif %}
    </div>
</div>

<!--
<div class="container col-xxl-8 px-4 py-5 bg-light">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ img.url }}" alt="{{ img.alt }}" class="d-block mx-lg-auto img-fluid" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{ self.title }}</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        </div>
      </div>
    </div>
</div>
-->