// variables can be overwritten after function import and before the rest gets imported
@import './bootstrap/functions';
$primary: red;

@import './bootstrap/variables';
$body-bg: $gray-900;
$box-shadow-lg: 0 1rem 3rem rgba($white, .175);
@import './bootstrap/utilities';
  
@import './bootstrap/bootstrap';